extends layout

block content


  table
    thead
        tr
                form(action='deletecar.html' method="post")
                 input(type='submit', value='Usun ulubione samochody')             
 
                
