extends layout

block content


  table
    thead
        tr
                form(action='changepower.html' method="post")
                 input(type='submit', value='Zmien moc w samochodzie!')   
                form(action='backpower.html' method="post")
                 input(type='submit', value='Zmien jeszcze raz')                        
 
                
